

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>

<style>
    p {
    margin: 15px !important;
    line-height: 12px;
    }

    .jumbotron {
    margin-bottom: 0px !important;
    }
</style>

<!--  Bootstrap Stuff -->

<link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
<link type="text/css" href="/stylesheets/style.css" rel="stylesheet">

<nav class="navbar navbar-default">
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">
                <div id="myMessage"></div>
                <form id="uploadFile" role="form" action="/importSpread" method="POST" enctype="multipart/form-data">
                    <div class="form-row" style="padding-left:15px;">
                        <div class="col">
                            <div id="selFile">
                                Select an xlsx file to upload already:
                            </div>
                            <div class="file-upload btn btn-primary" id="uploadButton">
                                <span>Choose an xlsx file</span>
                                <input id="uploadBtn" action="/import/" type="file" name="myFile" class="upload" accept=".xlsx" />
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button onclick="ulMsg()" type="submit" class="btn btn-success">
                                Upload xlsx file
                            </button>
                        </div>
                    </div>
                </form>
                <div>

                    <!--<form id="uploadScriv" role="form" action="/upload" method="POST" enctype="multipart/form-data">-->
                        <!--<div class="form-row" style="padding-left:15px;">-->
                            <!--<div class="col">-->
                                <!--<div id="selFile">-->
                                    <!--Select a scriv file to upload :-->
                                <!--</div>-->
                                <!--<div class="file-upload btn btn-primary" id="scrivUploadButton">-->
                                    <!--<span>Choose a scriv file</span>-->
                                    <!--<input id="uploadscrivBtn"  type="file" name="scrivFile" class="upload" accept=".scriv" />-->
                                <!--</div>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--<input type="submit" value="Submit" class="btn btn-success">-->
                                <!--&lt;!&ndash;<button onclick="ulMsg()" type="submit" class="btn btn-success">&ndash;&gt;-->
                                    <!--&lt;!&ndash;Upload scriv file&ndash;&gt;-->
                                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                </div>

            </div>

        </div>
        <!-- row -->

        <div id="resultMessage" class="jumbotron">

        </div>
    </div>
</nav>

<script>
    var theFile;
    function ulMsg(){
        document.getElementById("resultMessage").innerHTML = "<p>" + theFile + " is uploading the to database...</p>";
    }

    // wait for the DOM to be loaded
    //location of folder for these files
    var baseUrl = {{{baseUrl}}};
    $(document).ready(function() {

        // bind 'uploadFile' for spreadsheet import and provide a simple callback function
        $('#uploadFile').ajaxForm(function(e) {
            console.log(e);
            var message = "<h1>Cool.</h1><p>Stuff got imported to the database.</p>"; //default successful result message after uploading spreadsheet to server
            if (e.hasOwnProperty("status") && e.hasOwnProperty("msg")) {
                if (e.status === "error") {
                    message = "<h1>Error.</h1><p>" + e.msg + "</p>";
                } 
            }
            $("#resultMessage").html(message);
        });
        document.getElementById("uploadBtn").onchange = function() {
            $("#myMessage").html("<p>You selected the file:</p><p><b>" + this.value + "</b></p><p>Now click the green upload button and we're in business.</p>");
            theFile = this.value;
            var re = /\/(.+)\/(?:importSpread)(?:\/)*/i;
            var found = baseUrl.match(re); //found[1] has the path I need less the "importSpread" text.
            if (found && found !== undefined) {
                //I will change any "/" in the string in found[1] to slshslash. This is so it will only show up as one parameter on the server in the express
                //req.params.path
                if (found.length) {
                    var path = found[1];
                    path !== undefined ? path = path.replace(/\//g, "slshslash") : path = null;
                    document.getElementById("uploadFile").action = "/importSpread/" + path; // document.getElementById("collection").value; //call this with our folder.
                    //document.getElementById("uploadSVG").action = "/importSVG/" + document.getElementById("collection").value; //call this with our folder.
                }
            }
        };

        //document.getElementById("collection").onchange = function() {};

        // bind 'uploadSVG' for svg import and provide a simple callback function
        // $('#uploadSVG').ajaxForm(function() {
        //     $("#resultMessage").html("<h1>SVG Upload Happened.</h1>");
        // });
        // document.getElementById("uploadSVGBtn").onchange = function() {
        //     $("#mySvgMessage").html("<p>You selected the file:</p><p><b>" + this.value + "</b></p><p>Now click the green upload button and we're in business.</p>");
        // };
    });
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style>
    .file-upload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    .file-upload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    #uploadFile {
        line-height: 28px;
    }
</style>
