<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="source/stable/jquery.layout.js"></script>
<script src="js/svg-pan-zoom.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/idiagram-ui.js"></script>
<!-- <script src="js/mmd.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.2.3/showdown.min.js"></script>
<script type="text/javascript" src="js/jquery.address.js"></script>
<script type="text/javascript" src="js/idiagram-svg.js"></script>

<link rel = "stylesheet" type = "text/css" href = "stylesheets/mapWindow.css" />
<link rel = "stylesheet" type = "text/css" href = "stylesheets/idiagram.css" />

<!-- manually attach allowOverflow method to pane -->

<div class="map-pane">

    <div  class="ui-layout-center svgMap" >
        <!-- <div>

        <p>
        <a href="/#/?id0=FinancialSupplyChain_2_" >Financial Chain</a>
        </p>

        </div> -->
        <!--TODO: Delete class="container" if we don't need that-->
        <div class="container svgdiv" id="container"  style="width: 100%; height: 100%; border:0px solid black; " >

        </div>

    </div>
    <!--
    <div class="map-controls">
    <p style="text-align:center" >
    Additional information and controls can go down here.
    </p>
    </div>
    -->
</div>

<div class="ui-layout-west narration-pane">
    <p>
        Loading....
    </p>

    <!-- <h3> Narration Pane </h3>

    <p>
    Provides the story: what the map is about, what it’s trying to say, how different objects related to each other.
    </p>
    <p>
    Lorem ipsum dolor sit amet, id mea alii soleat fierent. In nostro delicata vel. His suavitate percipitur ex, nibh nulla te usu. His ad consul conclusionemque. Eos platonem principes hendrerit ne, assum postea pertinacia ei qui. Ludus suscipiantur nam ne.

    </p>
    <br> -->

</div>

<div class="ui-layout-east information-pane">

    <p>
        Loading....
    </p>

    <!-- <h3> Information Pane</h3>

    This is where we put information collected from the database.

    <br>

    <p>
    Lorem ipsum dolor sit amet, id mea alii soleat fierent. In nostro delicata vel. His suavitate percipitur ex, nibh nulla te usu. His ad consul conclusionemque. Eos platonem principes hendrerit ne, assum postea pertinacia ei qui. Ludus suscipiantur nam ne.

    </p> -->

    <!--
    <div class="legend">
    <div id="layerCheckButtons" class="btn-group" data-toggle="buttons" hidden>

    <h3> Layer Pane </h3>
    <label id="Goals" class="btn btn-primary">
    <input  type="checkbox" autocomplete="off">
    Goals </label>
    <br/>
    <label id="Issues" class="btn ">
    <input  type="checkbox" autocomplete="off">
    Issues </label>
    <br/>
    <label id="Rules" class="btn ">
    <input  type="checkbox" autocomplete="off">
    Rules &amp; Industry Norms</label>
    <br/>
    <label id="IntegratedSolutions" class="btn ">
    <input type="checkbox" autocomplete="off">
    Integrated Solutions</label>
    <br/>
    <label  id="ProductionConsumption"class="btn ">
    <input  type="checkbox" autocomplete="off">
    Production &amp; Consumption </label>
    <br/>
    <label  id="SDGs"class="btn ">
    <input  type="checkbox" autocomplete="off">
    Sustainable Development Goals</label>

    </div>

    </div>
    -->
</div>

