/*
 * This file holds the CSS for all the panes in the map window as well as setting for the pane controls
 * Modified by Marshall Clemens 11/16/2016
 *
 */

.ooo { cursor: url(/images/uno.gif) 3 3,auto; }

.extlink .ooo { cursor: url(/images/extLink.gif) 12 12,auto; }


/****************** MAP STYLES ******************************************************/

infopane-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px !important;
}

/****** Styling for the in-map video elements ********/
video {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    pointer-events: auto;
    max-width: 100%;
    visibility: hidden;
}

video.undermap{
    z-index: -1;
}
video.overmap{
    z-index: 100;
}

/**************** FORM STYLES *********************************************************/

/* Fix the position of the save button (move it to the bottom) for the form info-pane, and positioning of the filed boxes */
 .form-wrap.form-builder .pull-right{
     float: none;
 }
.form-wrap.form-builder .form-actions {
    margin: 5px;
    float: none;
}
.form-wrap.form-builder .stage-wrap {
    width: 100%;
}

/* Save button */
.save-template {
    background-color: #dcedde;
}

/* Labels for the form fields*/
.field-label {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12px !important;
    line-height: 24px !important;
    font-weight: bold !important;
}

/* position the form fields - they also get ul and ui which will indent them */
.form-wrap.form-builder  {
    margin: 0 !important;
}

.frmb.ui-sortable  {
    margin: 0 !important;
}

.textarea-field.form-field{
    margin: 5px !important;
}

.text-field.form-field{
    margin: 5px !important;
}

/* Contents of the form fields */
.form-control {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 11px !important;
    line-height: 16px !important;
}

.info-pane-text {
    border: none !important;
    width: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
/*    font-size: 11px !important;  */
    line-height: 16px !important;
}

/****************** TOOLTIP STYLES ******************************************************/

.ttTitle {
    font-size: 12px;
    line-height: 20px;
}

/****************** FORM STYLES ******************************************************/

btn {
    font-size: 12px;
}
/****************** OUTLINING STYLES ******************************************************/

summary {
    outline:none;
}

.O1, .O2, .O3 {
    color: #000000;
    margin: 0;
    padding: 0;
}

.O1, .O2, .O3 {
    border-bottom: 1px solid #cccccc;
}

.O1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 36px;
}

.O2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 32px;
}

.O3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 28px;
}

.O1 ~ *:not(.O1) {
    margin-left: 10px;
}
.O2 ~ *:not(.O2) {
    margin-left: 20px;
}
.O3 ~ *:not(.O3) {
    margin-left: 30px;
}

/****************** STANDARD STYLES ******************************************************/

h1, h2 {
    border-bottom: 1px solid #cccccc;
}

h1, h2, h3, h4, h5, h6, blockquote {
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 36px;
}
h2 {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 32px;
}
h3 {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
}
h4 {
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 24px;
}
h5 {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
}
h6 {
    margin: 10px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 14px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}




p {
    margin: 10px;
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 0px !important;
}


a {
    color: #455889;
}

a img {
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a:link {
    text-decoration: none;
    color: #475480;
}

* {
    -webkit-print-color-adjust: exact;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Fontello;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    background-color: white;
    margin: 5px 5px 5px 5px;
    padding-left: 0px !important;
}

table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
ol, ul, li {
    margin-left: 20px !important;
    margin-right: 12px !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    padding: 0px !important;
    line-height: 18px !important;
}
td, th, tr {
    margin: 15px;
    margin-top: 30px;
    padding: 5px;
    line-height: 20px;
}

blockquote {
    padding: 0px 15px 0px 15px;
    font-style: italic;
/*    margin-bottom: 18px;
    font-family: georgia, serif; */
}

code {
    margin: 20px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
/*
blockquote:before {
    content: "\201C";
    font-size: 40px;
    margin-left: -10px;
    font-family: georgia, serif;
    color: #eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
*/

@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin: 10px auto;
    }
}
@media print {
    body, code, pre code, h1, h2, h3, infopane-title, h4, p, h5, h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}

/* end of Clearness css */

/*
 *********************************  STORY OUTLINE HEADINGS etc *******************************
 *
 */

slide {
    color:black;
    font-size:10px;
}

.storyItem01, .storyItem02, .storyItem03, .storyItem04, .storyItem05, .storyItem06, .storyItem07, .storyItem08, .storyItem09 {
    color: black;
    font-size: 12px;
    line-height: 20px;
}

.mapTitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
}

h1.storyHead01 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}
a.storyItem01 {
    margin-left: 10px;
}

h2.storyHead02 {
    font-size: 14px;
    border-bottom: none;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}
a.storyItem02 {
    margin-left: 20px;
}

h3.storyHead03 {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 20px;
}
a.storyItem03 {
    margin-left: 30px;
}

h4.storyHead04 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 30px;
}
a.storyItem04 {
    margin-left: 40px;
}

h5.storyHead05 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 40px;
}
a.storyItem05 {
    margin-left: 50px;
}

h6.storyHead06 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 50px;
}
a.storyItem06 {
    margin-left: 60px;
}

h7.storyHead07 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 60px;
}
a.storyItem07 {
    margin-left: 70px;
}

h8.storyHead08 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 70px;
}
a.storyItem07 {
    margin-left: 80px;
}

h9.storyHead09 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 80px;
}
a.storyItem09 {
    margin-left: 90px;
}


h1 a {
    all: inherit;
    margin-bottom: 0;
    margin-left: 0;
}

h2 a {
    all: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h3 a {
    all: inherit;
    margin-bottom: 0;
    margin-left: 0;
}

h4 a {
    all: inherit;
    margin-bottom: 0;
    margin-left: 0;
}

h5 a {
    all: inherit;
    margin-bottom: 0;
    margin-left: 0;
}

h6 a {
    all: inherit;
    margin-bottom: 0;
    margin-left: 0;
}

h1 button {
    all: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h2 button {
    all: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h3 button {
    all: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h4 button {
    all: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h5 button {
    all: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h6 button {
    all: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
}



/*Toggles glyphs with CSS based on if aria-expanded is true or false*/
[aria-expanded="true"] .icon-plus-circled {
    display: none;
}

[aria-expanded="false"] .icon-minus-circled {
    display: none;
}

[aria-expanded="true"] .icon-right-dir {
    display: none;
}

[aria-expanded="false"] .icon-down-dir {
    display: none;
}

/*Hover on ooo class objects changes to point. With a custom mouse with a .cur filetype, can use cursor: url(filename.cur), pointer;*/
.ooo:hover {
    cursor: pointer;
}

.comment-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%; !* Full width *!*/
    /*height: 100%; !* Full height *!*/
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}

.comment-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/*
*************************** MAP STYLES ******************************************************
*/

/*****  Make map text un-selectable *****/
.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/****** Highlighting for selected links in story pane ******/
a.selected {
    background: yellow
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}

.information-pane, .narration-pane, .legend {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

/****** LAYOUT THEMES FOR PANES Created for jquery.layout ******/

.ui-layout-pane {
    /* all 'panes' */

    background: #FFF;
    border: 0px solid #BBB;
    /* line around sizers and panes
     padding:        0px;        /* no padding around pane - padding will be added in the info css */

    overflow: auto;
    /* DO NOT add scrolling (or padding) to 'panes' that have a content-div,
     otherwise you may get double-scrollbars - on the pane AND on the content-div
     - use ui-layout-wrapper class if pane has a content-div
     - use ui-layout-container if pane has an inner-layout
     */
}
/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */

.ui-layout-content {
    padding: 10px;
    position: relative;
    /* contain floated or positioned elements */

    overflow: auto;
    /* add scrolling to content-div */
}
/*
 *  UTILITY CLASSES
 *  Must come AFTER pane-class above so will override
 *  These classes are NOT auto-generated and are NOT used by Layout
 */

.layout-child-container, .layout-content-container {
    padding: 0;
    overflow: hidden;
}
.layout-child-container {
    border: 0;
    /* remove border because inner-layout-panes probably have borders */
}
.layout-scroll {
    overflow: auto;
}
.layout-hide {
    display: none;
}
/*
 *  RESIZER-BARS
 */

.ui-layout-resizer {
    /* all 'resizer-bars' */

    background: #F1F1F1;
    border: 0px solid #BBB;
    border-width: 0;
}
.ui-layout-resizer {cursor: col-resize;}

.ui-layout-resizer-drag {
    /* REAL resizer while resize in progress */
}
.ui-layout-resizer-hover {
    /* affects both open and closed states */
}
/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
 otherwise color shifts while dragging when bar can't keep up with mouse */

.ui-layout-resizer-open-hover,
/* hover-color to 'resize' */

.ui-layout-resizer-dragging {
    /* resizer beging 'dragging' */

    background: #FFEC71;
}
.ui-layout-resizer-dragging {
    /* CLONED resizer being dragged */

    border: 0px solid #BBB;
}
.ui-layout-resizer-north-dragging, .ui-layout-resizer-south-dragging {
    border-width: 0px 0;
}
.ui-layout-resizer-west-dragging, .ui-layout-resizer-east-dragging {
    border-width: 0 0px;
}
/* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */

.ui-layout-resizer-dragging-limit {
    /* CLONED resizer at min or max size-limit */

    background: #FB8500;
    /* red */
}
.ui-layout-resizer-closed-hover {
    /* hover-color to 'slide open' */

    background: #FFEC71;
}
.ui-layout-resizer-sliding {
    /* resizer when pane is 'slid open' */

    opacity: 0.50;
    /* show only a slight shadow */
    /*filter:  alpha(opacity=50);*/
}
.ui-layout-resizer-sliding-hover {
    /* sliding resizer - hover */

    opacity: 1.00;
    /* on-hover, show the resizer-bar normally */
    /*filter:  alpha(opacity=100);*/
}
/* sliding resizer - add 'outside-border' to resizer on-hover
 * this sample illustrates how to target specific panes and states
 * set to no border */

.ui-layout-resizer-north-sliding-hover {
    border-bottom-width: 0px;
}
.ui-layout-resizer-south-sliding-hover {
    border-top-width: 0px;
}
.ui-layout-resizer-west-sliding-hover {
    border-right-width: 0px;
}
.ui-layout-resizer-east-sliding-hover {
    border-left-width: 0px;
}

/*****  TOGGLER-BUTTONS ******/

.ui-layout-toggler {
    border: 0px solid #BBB;
    /* no pane-border */

    background-color: #BBB;
    /* background-image: url("Toggle-Button.jpg"); */
    opacity: 0.12;
    /*filter:  alpha(opacity=50);*/
}
.ui-layout-resizer-hover .ui-layout-toggler {
    opacity: .60;
    /*filter:  alpha(opacity=60);*/
}
.ui-layout-toggler-hover,
/* need when NOT resizable */

.ui-layout-resizer-hover .ui-layout-toggler-hover {
    /* need specificity when IS resizable */

    background-color: #F49F00;
    opacity: 1.00;
    /*filter:  alpha(opacity=100);*/
}
.ui-layout-toggler-north, .ui-layout-toggler-south {
    border-width: 0 0px;
    /* left/right borders */
}
.ui-layout-toggler-west, .ui-layout-toggler-east {
    border-width: 0px 0;
    /* top/bottom borders */
}
/* hide the toggler-button when the pane is 'slid open' */

.ui-layout-resizer-sliding .ui-layout-toggler {
    display: none;
}
/*
 *  style the text we put INSIDE the togglers
 */

.ui-layout-toggler .content {
    color: #666;
    font-size: 9px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 0.35ex;
    /* to 'vertically center' text inside text-span */
}
/*
 *  PANE-MASKS
 *  these styles are hard-coded on mask elems, but are also
 *  included here as !important to ensure will overrides any generic styles
 */

.ui-layout-mask {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    opacity: 0 !important;
    /*filter:     Alpha(Opacity="0") !important;*/
}
.ui-layout-mask-inside-pane {
    /* masks always inside pane EXCEPT when pane is an iframe */

    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
div.ui-layout-mask {
}
/* standard mask for iframes */

iframe.ui-layout-mask {
}
/* extra mask for objects/applets */
/*
 *  Default printing styles
 */

@media print {
    /*
     *  Unless you want to print the layout as it appears onscreen,
     *  these html/body styles are needed to allow the content to 'flow'
     */

    html {
        height: auto !important;
        overflow: visible !important;
    }
    body.ui-layout-container {
        position: static !important;
        top: auto !important;
        bottom: auto !important;
        left: auto !important;
        right: auto !important;
        /* only IE6 has container width & height set by Layout */

        _width: auto !important;
        _height: auto !important;
    }
    .ui-layout-resizer, .ui-layout-toggler {
        display: none !important;
    }
    /*
     *  Default pane print styles disables positioning, borders and backgrounds.
     *  You can modify these styles however it suit your needs.
     */

    .ui-layout-pane {
        border: none !important;
        background: transparent !important;
        position: relative !important;
        top: auto !important;
        bottom: auto !important;
        left: auto !important;
        right: auto !important;
        width: auto !important;
        height: auto !important;
        overflow: visible !important;
    }
}

div.info-p-content {
    display: none;
}
/* Shows the correct info pane content */

div.info-p-content.show {
    display: block;
}
