
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

.bootstrap-iso form button,
.bootstrap-iso form button:hover {
    color: white !important;
}

.bootstrap-iso.mapMenu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

input[type="radio"] {
    display: inline !important;
}

#shownav {
    z-index: 1;
    height: 20px;
    width:20px;
    position: absolute;
    left: 20px;
    top: 14px;

    color: black;
    font-size: 20px;
}

#shownav:before {
    content: "\f0c9";
}

#shownav:hover:before {
    color: #FB8500;
    opacity: 1.0;
}

.navbar.mapMenu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f7f7f7;
    opacity: 0.85;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.navbar.mapMenu.hideme {
    opacity: 0;
    display: none;
}

body {
    position: relative
}

button:focus {
    outline-style: none;
    opacity: 1.0;
}

button:hover {
    outline-style: none;
    color: #FB8500;
    opacity: 1.0;
}

.mapButton{
    z-index: 1;
    font-size: 20px;
    background-color: transparent;
    opacity: 0.80;
    border: none;
}

.mapButton.homeButton {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.mapButton:hover {
    outline-style: none;
    color: #FB8500;
    opacity: 1.0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* primary header */

.primary-header {
    padding: 24px 0;
    text-align: center;
    border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
    color: #393939;
    font-size: 36px;
}

.primary-header__title small {
    font-size: 18px;
    color: #898989;
}

/* content */

.content {
    padding: 48px 0;
    border-bottom: solid 2px #cfcfcf;
}

.content__footer {
    margin-top: 12px;
    text-align: center;
}

/* footer */

.primary-footer {
padding: 24px 0;
color: #898989;
font-size: 14px;
text-align: center;
}

/* tasks */

.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
    border-bottom: none;
}

/* context menu */

tr, td {
    font-size: 12px;
    line-height: 14px;
    margin: 0px !important;
    padding-left: 10px !important;
}


.unoLabel{
    font-size: 16px;
    padding-left: 5px;
    font-weight: bold;
}

.urlLabel{
    font-size: 13 px;
    padding-left: 5px;
}

td:first-child {
    font-weight: bold;
}

.context-menu {
    display: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 10;
    padding: 12px;
    width: 240px;
    background-color: #f4f4f4;
    border: solid 1px #dfdfdf;
    box-shadow: 0px 0px 18px #878787;
}

.context-menu--active {
display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    color: #000000;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:hover {
    color: #000000;
    background-color: #ffdeb9;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

