<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>3E20F5CB-FC5A-4B6E-B3EE-DD37A7400198</key>
		<array>
			<integer>332</integer>
		</array>
		<key>A207004A-D703-4F0F-80E3-6FD174B3C4A5</key>
		<array>
			<integer>107</integer>
		</array>
	</dict>
	<key>CompileFolder</key>
	<string>/Users/mclemens/Dropbox/Systems Agency/SMP dev/gsap/authorized/macro/org</string>
	<key>EnabledCompilePresets</key>
	<array/>
	<key>MainWindowIsFullScreen</key>
	<true/>
	<key>MainWindowShowsFormatBar</key>
	<false/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>3</integer>
		<key>Title</key>
		<string>Macro Data</string>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderIsCollapsed</key>
	<integer>0</integer>
	<key>binderSelection</key>
	<array>
		<integer>6</integer>
	</array>
	<key>binderSelectionMode</key>
	<integer>0</integer>
	<key>binderShowsLabelColors</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {209, 757}}</string>
		<string>{{210, 0}, {1230, 757}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>4152ECB9-1B68-4561-BF84-63DC9B29E632</string>
		<string>EBF4ABA6-FE32-4BDD-9500-F1A0C298A5BC</string>
		<string>2B8EF9CB-369C-4DE4-A595-21375BF4BA47</string>
		<string>422847E9-5229-4617-A302-1006E0DB5750</string>
		<string>9BD0A216-8AAE-4162-99F7-0445761BF3EF</string>
		<string>D1EC7D4D-44CD-4476-8B06-FDE2E0936050</string>
		<string>8F16318F-093F-442E-80B2-06665FB720CD</string>
		<string>73EA1F1C-6A12-4622-A943-593112F9A9EF</string>
		<string>F87A7582-77FA-40D8-922E-E9659820041E</string>
		<string>BE9331B0-25ED-43F9-BB71-70FFCF4CA659</string>
	</array>
	<key>binderWidth</key>
	<real>460</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>BE3C06D4-2BF6-4869-A2DD-9E40C603C63D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {333, 100}}</string>
		<string>{{0, 101}, {333, 1134}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>corkboardCardNumbersRestartAtSections</key>
	<false/>
	<key>corkboardShowKeywordColors</key>
	<true/>
	<key>corkboardShowLabels</key>
	<true/>
	<key>corkboardShowStatusStamps</key>
	<false/>
	<key>corkboardsShowCardNumbers</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {730, 416}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>exportFilesConvertsRichTextToMMD</key>
	<true/>
	<key>exportFilesFormat</key>
	<integer>10</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>grammarSpellChecking</key>
	<false/>
	<key>iconsShowLabels</key>
	<false/>
	<key>inspectorGeneralPaneIsCollapsed</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>114.94239807128906</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {853, 727}}</string>
		<string>{{854, 0}, {376, 727}}</string>
	</array>
	<key>inspectorSynopsisIsCollapsed</key>
	<false/>
	<key>inspectorWidth</key>
	<real>376</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.affectsOtherEditor</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>2B8EF9CB-369C-4DE4-A595-21375BF4BA47</string>
	</array>
	<key>mainDocumentEditor.cardRatio</key>
	<integer>3</integer>
	<key>mainDocumentEditor.cardsAcross</key>
	<integer>-1</integer>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.footerHidden</key>
	<integer>0</integer>
	<key>mainDocumentEditor.headerHidden</key>
	<integer>0</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>id</string>
		<string>subtitle</string>
		<string>unofrom</string>
		<string>url</string>
		<string>urltext</string>
		<string>onfunction</string>
		<string>offfunction</string>
		<string>onurl</string>
		<string>offurl</string>
		<string>openurl</string>
		<string>closeurl</string>
		<string>tooltip</string>
		<string>infopane</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.keywordChips</key>
	<integer>5</integer>
	<key>mainDocumentEditor.multipleSectionsMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>symbol</string>
			<string>unoto</string>
			<string>openfunction</string>
			<string>closefunction</string>
			<string>allKeywords</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>96</real>
			<key>closefunction</key>
			<real>153</real>
			<key>openfunction</key>
			<real>167</real>
			<key>symbol</key>
			<real>75</real>
			<key>title</key>
			<real>450</real>
			<key>unoto</key>
			<real>75</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>allKeywords</key>
		<real>59</real>
		<key>closefunction</key>
		<real>126</real>
		<key>openfunction</key>
		<real>138</real>
		<key>title</key>
		<real>431</real>
		<key>unoto</key>
		<real>75</real>
	</dict>
	<key>mainDocumentEditor.outlinerHidesIcons</key>
	<false/>
	<key>mainDocumentEditor.outlinerShowsTitlesOnly</key>
	<true/>
	<key>mainDocumentEditor.outlinerState</key>
	<array>
		<string>11693E2F-1E0A-490A-A86D-6CE7DB174866</string>
		<string>A21019CE-E606-4A05-BBA3-97325B2457B6</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{310, 0}</string>
	<key>mainDocumentEditor.sizeToFit</key>
	<true/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>695 196 1782 1056 0 0 2560 1578 </string>
	<key>referencesNotesMode</key>
	<integer>0</integer>
	<key>revisionMode</key>
	<integer>0</integer>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>120</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showEditScriveningsTitles</key>
	<true/>
	<key>showInvisibles</key>
	<false/>
	<key>showsBinderSubdocumentNumbering</key>
	<false/>
	<key>showsFootnoteNumberingPrompt</key>
	<false/>
	<key>showsInspectorFootnoteNumbering</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.affectsOtherEditor</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.cardRatio</key>
	<integer>3</integer>
	<key>supportingDocumentEditor.cardsAcross</key>
	<integer>-1</integer>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.footerHidden</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.headerHidden</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>id</string>
		<string>unofrom</string>
		<string>url</string>
		<string>urltext</string>
		<string>onfunction</string>
		<string>offfunction</string>
		<string>openfunction</string>
		<string>closefunction</string>
		<string>onurl</string>
		<string>offurl</string>
		<string>openurl</string>
		<string>closeurl</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.keywordChips</key>
	<integer>5</integer>
	<key>supportingDocumentEditor.multipleSectionsMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>subtitle</string>
			<string>allKeywords</string>
			<string>tooltip</string>
			<string>infopane</string>
			<string>symbol</string>
			<string>unoto</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
			<string>id</string>
			<string>unofrom</string>
			<string>url</string>
			<string>urltext</string>
			<string>onfunction</string>
			<string>offfunction</string>
			<string>openfunction</string>
			<string>closefunction</string>
			<string>onurl</string>
			<string>offurl</string>
			<string>openurl</string>
			<string>closeurl</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>closefunction</key>
			<real>75</real>
			<key>closeurl</key>
			<real>75</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>id</key>
			<real>75</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>infopane</key>
			<real>75</real>
			<key>label</key>
			<real>56</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>offfunction</key>
			<real>75</real>
			<key>offurl</key>
			<real>75</real>
			<key>onfunction</key>
			<real>75</real>
			<key>onurl</key>
			<real>75</real>
			<key>openfunction</key>
			<real>75</real>
			<key>openurl</key>
			<real>75</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>49</real>
			<key>subtitle</key>
			<real>75</real>
			<key>symbol</key>
			<real>75</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>252</real>
			<key>tooltip</key>
			<real>75</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>unofrom</key>
			<real>75</real>
			<key>unoto</key>
			<real>75</real>
			<key>url</key>
			<real>75</real>
			<key>urltext</key>
			<real>75</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>allKeywords</key>
		<real>126</real>
		<key>slideurl</key>
		<real>347</real>
		<key>subtitle</key>
		<real>75</real>
		<key>title</key>
		<real>252</real>
	</dict>
	<key>supportingDocumentEditor.outlinerHidesIcons</key>
	<true/>
	<key>supportingDocumentEditor.outlinerShowsTitlesOnly</key>
	<false/>
	<key>supportingDocumentEditor.outlinerState</key>
	<array/>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.sizeToFit</key>
	<true/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
	<key>tintIndexCardsWithLabelColor</key>
	<false/>
	<key>tintOutlinerRowsWithLabelColor</key>
	<false/>
</dict>
</plist>
