<div class="container">
    <!--
  <h2 id="messageTitle" class="serveMessage">{{messageTitle}}</h2>
  -->
  <div class="panel panel-default">
    <div id="serverMessage" class="panel-body serveMessage">{{serverMessage}}</div>
  </div>
</div>
<div class="textwidget margin-top-30" >
    <p><h1>Welcome to the Idiagram development site</h1></p>
    <p><h3>Please re-enter or retry the URL for the map you'd like to load.</h3></p>
    <p>Note that if the map is in a restricted area, the site admin may need to give you permission to access it.</p>
    <p>
</div>
