<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>3E20F5CB-FC5A-4B6E-B3EE-DD37A7400198</key>
		<array>
			<integer>332</integer>
		</array>
		<key>A207004A-D703-4F0F-80E3-6FD174B3C4A5</key>
		<array>
			<integer>107</integer>
		</array>
	</dict>
	<key>CompileFolder</key>
	<string>/Users/mclemens/Dropbox/Systems Agency/SMP dev/gsap/authorized/demo/uno</string>
	<key>EnabledCompilePresets</key>
	<array/>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>3</integer>
		<key>Title</key>
		<string>Macro Data</string>
	</dict>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>247</integer>
		<integer>248</integer>
		<integer>249</integer>
		<integer>250</integer>
		<integer>251</integer>
		<integer>252</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {210, 1332}}</string>
		<string>{{211, 0}, {1631, 1332}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>4152ECB9-1B68-4561-BF84-63DC9B29E632</string>
		<string>EBF4ABA6-FE32-4BDD-9500-F1A0C298A5BC</string>
		<string>403E07EB-E11E-473A-95A4-54E04F0F8D5A</string>
		<string>A7C054D3-AA6A-4DC3-BE4E-6C69814C36C1</string>
		<string>7B040382-DF50-4D0F-9795-EF7B5205FBDC</string>
		<string>4DD82185-A53A-4CC0-8D31-F7E7A42A404D</string>
		<string>13D97DA2-8312-41FB-8A08-28B5259450FB</string>
		<string>AD8F0D9D-EADF-44D1-8357-C2F77119074D</string>
		<string>3BA4C725-D36C-4634-9395-2C1C798053D0</string>
		<string>DC9015FA-E4E0-4C0E-B374-766CE74A6404</string>
		<string>3B9EAADC-958F-4C0B-809C-8C9BBBF5F5C0</string>
		<string>279E5E69-666D-487E-8EF4-255C1DBA18F6</string>
		<string>10D02B1B-790C-47C5-A256-F1DE0D5D621E</string>
		<string>427F47C4-5959-45CB-8033-7B7755DA3533</string>
		<string>AFBA59B3-2E50-470C-9C72-75C6B57E19F0</string>
		<string>71284776-008E-4E14-971A-64349C971B8E</string>
		<string>985D3BA8-4ED7-47F2-97C0-F25627ACB68A</string>
		<string>47AA664B-D413-4267-878E-3D4ED46955BC</string>
		<string>C658C4C4-BE42-4289-9214-C79187F4B790</string>
		<string>B9A2D7E5-298A-48FC-A157-0482AB8E4C28</string>
		<string>CF62A674-C7AD-4D5E-BAB5-CD7E41373510</string>
		<string>7746E421-79DC-428B-AA6F-41373AA588DF</string>
		<string>8307E4A8-937A-453F-BDCF-66BD049FA39E</string>
		<string>CE52D8F1-7624-48C6-8B5C-8A6C0E12280B</string>
		<string>AB27AF1D-CDAC-479E-95DB-81DA3C9B5AA2</string>
		<string>BA335614-C0B7-4345-9823-8E2CE6A3520C</string>
		<string>11693E2F-1E0A-490A-A86D-6CE7DB174866</string>
		<string>A21019CE-E606-4A05-BBA3-97325B2457B6</string>
		<string>D8C61FC8-3D90-4C23-A2E7-4370731A22A2</string>
		<string>66626903-29AC-4087-BA4E-FE8B66774671</string>
		<string>CA7BDCF3-502D-4EF9-93D3-FF76D6557937</string>
		<string>083D28F6-6895-491F-9D4C-FB843CE9470A</string>
		<string>DC3F2822-D0DB-45BA-892D-35FCEEE8C277</string>
		<string>49A18376-6BF9-4FEB-928B-B8D9FDD6CDA7</string>
		<string>E401B5DC-F437-43CF-9C23-6E001EE752CA</string>
		<string>50E6D352-0496-4778-9D9B-430D41EE6237</string>
		<string>BB4792B8-0E1C-482E-9A8E-59744D095E1E</string>
		<string>6830B7CC-165E-4AC5-9524-BCBEA55C97C5</string>
		<string>FD838395-0FC7-4783-8F8A-AFBF1F4D4E83</string>
		<string>0CABAA20-32DB-4E02-BBD7-DE6E90D06A5E</string>
		<string>3FDCF330-12AA-4E69-883B-655C84397119</string>
		<string>A888632D-6302-4049-91F0-14AA504ED658</string>
		<string>BB41038B-3673-4A76-B64A-1BFE739524C8</string>
		<string>F5839675-82FF-4025-9BEF-95FAB52294E7</string>
		<string>824DE7E2-F165-4AF6-95C3-9739C60BE943</string>
		<string>EA28B4E6-F30D-47B2-BE68-721944F43304</string>
		<string>2144901D-FEAD-49D2-ADA9-B471E0FE1C91</string>
		<string>7E6E7311-9650-4ECC-BD15-954F0BEE9C14</string>
		<string>856C4000-A207-49E4-8DF5-D01584039070</string>
		<string>AC595831-BC58-43DF-ACEE-B9E244A2E61E</string>
		<string>0603A4E0-BCC0-4568-8CE0-A8CDC5030784</string>
		<string>174A90F1-60EF-44D2-8749-774EC83E527E</string>
		<string>5832BD50-07C1-4609-B4D7-F218E96C63FC</string>
		<string>723F7E22-2310-46F4-99E9-0079217E8728</string>
		<string>EEF9E5A6-D6A9-4ABF-A834-BCC4D5B55C61</string>
		<string>65135DBF-0B47-4837-AB66-0DDE47567746</string>
		<string>501520FC-B019-4FF7-8CB9-55B4CAC6641E</string>
		<string>884F37D1-1361-430B-9200-8C8EA75E9628</string>
		<string>DAE4D439-5F56-4208-BF24-EB1D5A5BFF5C</string>
		<string>1EBE88EB-ED77-4829-ABDA-281C66290D09</string>
		<string>6B3A9B48-F180-48E8-A20A-D53CD9D8B880</string>
		<string>734AE735-C270-4550-862E-891E8BBF4402</string>
		<string>91962B98-58EE-43A2-BBCE-0D0FDCC27608</string>
		<string>4759ABDD-B547-4BD9-B26E-D6540A5CAAFB</string>
		<string>1E150A60-D957-43A3-8FAD-F9A158251A2F</string>
		<string>58981139-51FB-4118-B24C-0EA52413139D</string>
		<string>6FC71698-B3BB-4FFB-8F23-43490571325B</string>
		<string>79202957-8B9F-46B3-B9B2-FD9A761AA9E9</string>
		<string>31F183E1-4451-4F1A-B74F-B50AB2661E19</string>
		<string>D18496D9-0580-4F5D-B7AA-8B7419F9331B</string>
		<string>B018B023-38F6-4603-B709-E0BC0AEFD831</string>
		<string>4707152C-599D-4B01-8629-264623FC8A4A</string>
		<string>ECDC63A0-4C47-42E0-86B1-95C6DD4BC9BA</string>
		<string>D5208CF7-8B84-47A2-ADCA-E1DD99A87A3E</string>
		<string>7F72BCDC-6AB7-427D-894A-E646A33AEB08</string>
		<string>1854C428-1A71-4C11-A4A8-D935AAD9BDC1</string>
		<string>A32FC375-8352-4346-BA77-E04F013BE9FC</string>
		<string>62E8FB5A-0E5B-4057-A86A-B212A52428C3</string>
		<string>94086AFD-07F6-4417-B07A-00CCD4124262</string>
		<string>4845A35A-FA58-4E9E-A71D-A61D86B77020</string>
		<string>C44B29EB-1A35-49F4-B287-F35199F366D7</string>
		<string>2ADCFE2E-6867-468D-92E5-1557E34396A0</string>
		<string>927900EB-8E12-42D0-915A-F8C1813B38E0</string>
		<string>FAF0FC1C-3BF6-46A9-BA0E-2ABEC3085FAA</string>
		<string>A7E2EEBE-BE92-4DA7-A836-1D201C11051F</string>
		<string>0DD00469-F7D3-44FD-BE74-F1B3509A1DD8</string>
		<string>A64FC1DC-F0CA-4009-BB06-884902BA3497</string>
		<string>B934061E-8E06-4FF2-A63C-49F4436B11D2</string>
		<string>FA09509D-F909-4DA8-B0B9-CFB22F65A4EA</string>
		<string>0AA52605-29EA-424D-B128-B88D9BCC7391</string>
		<string>B1485CD9-F321-46E0-8ADC-DF1B08A3BDDE</string>
		<string>7D7D1CAA-096A-4018-B353-64772CB07F1C</string>
		<string>7E886C0D-5EED-4E13-9F26-A93501588C5E</string>
		<string>E99CD7E0-495E-4345-B01D-009FC6553774</string>
		<string>165349DE-B53F-49E5-B927-F1000E9706F9</string>
		<string>5BAED7A0-7C88-4858-9CB6-CDA77C65F338</string>
		<string>CFF8AA3A-6E4E-44D1-BED9-35B9B783B089</string>
		<string>80063626-E789-45B2-9C36-5460DA7A96B2</string>
		<string>576697F5-E380-40D4-BB0C-1F3E82A1CE9E</string>
		<string>2427967C-D715-4968-A866-A1B469AA2956</string>
		<string>F413EE39-E2C7-4594-978B-A65655F1ADA1</string>
		<string>8AF1A96F-7775-47D1-8411-298CF7137653</string>
		<string>CE71CF25-77B4-4395-9781-9139E951ADBD</string>
		<string>9BA08A24-634F-415E-8D01-30CE3BBF4BDB</string>
		<string>0198905C-2EDD-40DD-81AC-EBC039495EC7</string>
		<string>6F76F70E-9F42-40D3-A0FA-EA97DD63F5A9</string>
		<string>6B2ECEAD-08B6-4DF1-8191-339AF5ABE931</string>
		<string>B59BBECC-DD89-4F47-8F1B-908285B94792</string>
		<string>FC46C58F-1DC2-4AD5-A886-DBE7A81365E0</string>
		<string>1CCBEAB9-4269-4735-A613-60C222378CB0</string>
		<string>73EA1F1C-6A12-4622-A943-593112F9A9EF</string>
		<string>F87A7582-77FA-40D8-922E-E9659820041E</string>
	</array>
	<key>binderWidth</key>
	<real>254</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {210, 100}}</string>
		<string>{{0, 101}, {210, 1205}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<false/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>corkboardShowKeywordColors</key>
	<true/>
	<key>corkboardsShowCardNumbers</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1228, 651}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1037</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>150</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>114.94239807128906</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>3</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1403, 1302}}</string>
		<string>{{1404, 0}, {227, 1302}}</string>
	</array>
	<key>inspectorSynopsisIsCollapsed</key>
	<false/>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>FC232E7A-7755-4F52-81DC-C2C55DEDAF8D</string>
		<string>72D044CA-C544-4333-9AA0-2EAA14EE3176</string>
		<string>024F4CFE-680D-44EC-A8DB-666083A13B1B</string>
		<string>59C0E532-5BB7-4701-BDB7-7DC5261476BE</string>
		<string>949121B0-949A-441E-8618-5F56CD5F635B</string>
		<string>9660FFD4-F6BB-4BEB-BDDA-19E6F9346286</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>id</string>
		<string>subtitle</string>
		<string>symbol</string>
		<string>unofrom</string>
		<string>unoto</string>
		<string>url</string>
		<string>urltext</string>
		<string>onfunction</string>
		<string>offfunction</string>
		<string>openfunction</string>
		<string>closefunction</string>
		<string>onurl</string>
		<string>offurl</string>
		<string>openurl</string>
		<string>closeurl</string>
		<string>tooltip</string>
		<string>infopane</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
			<string>id</string>
			<string>subtitle</string>
			<string>symbol</string>
			<string>unofrom</string>
			<string>unoto</string>
			<string>url</string>
			<string>urltext</string>
			<string>onfunction</string>
			<string>offfunction</string>
			<string>openfunction</string>
			<string>closefunction</string>
			<string>onurl</string>
			<string>offurl</string>
			<string>openurl</string>
			<string>closeurl</string>
			<string>tooltip</string>
			<string>infopane</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>closefunction</key>
			<real>75</real>
			<key>closeurl</key>
			<real>75</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>id</key>
			<real>75</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>infopane</key>
			<real>75</real>
			<key>label</key>
			<real>107</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>offfunction</key>
			<real>75</real>
			<key>offurl</key>
			<real>75</real>
			<key>onfunction</key>
			<real>75</real>
			<key>onurl</key>
			<real>75</real>
			<key>openfunction</key>
			<real>75</real>
			<key>openurl</key>
			<real>75</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>49</real>
			<key>subtitle</key>
			<real>75</real>
			<key>symbol</key>
			<real>75</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>268</real>
			<key>tooltip</key>
			<real>75</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>unofrom</key>
			<real>75</real>
			<key>unoto</key>
			<real>75</real>
			<key>url</key>
			<real>75</real>
			<key>urltext</key>
			<real>75</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>closefunction</key>
		<real>188</real>
		<key>openfunction</key>
		<real>166</real>
		<key>title</key>
		<real>349</real>
	</dict>
	<key>mainDocumentEditor.outlinerShowsTitlesOnly</key>
	<true/>
	<key>mainDocumentEditor.outlinerState</key>
	<array>
		<string>1BA46944-6234-4BC2-8F57-00E45218FFC5</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{48, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>1101 104 1842 1354 0 0 2560 1578 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>120</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showEditScriveningsTitles</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>id</string>
		<string>unofrom</string>
		<string>url</string>
		<string>urltext</string>
		<string>onfunction</string>
		<string>offfunction</string>
		<string>openfunction</string>
		<string>closefunction</string>
		<string>onurl</string>
		<string>offurl</string>
		<string>openurl</string>
		<string>closeurl</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>19</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>028E3DAA-A9DA-428A-A953-F20ECBB7DCF0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F87A7582-77FA-40D8-922E-E9659820041E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4152ECB9-1B68-4561-BF84-63DC9B29E632</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19DAE3D6-A3AB-46DC-8609-4946887A79E4</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8AFE5CFA-DB72-4DE9-B76D-3E74F745F3CE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CBC16929-B7D5-47BA-B162-15193FE0BD5C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7F9E2BC8-35A7-4267-AAC8-099E969FF568</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A811A40C-EAA6-4E85-AD0E-1031FE98DF1F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8AFE5CFA-DB72-4DE9-B76D-3E74F745F3CE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19DAE3D6-A3AB-46DC-8609-4946887A79E4</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E67684B4-638B-4837-B094-574F126B4AFC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8AFE5CFA-DB72-4DE9-B76D-3E74F745F3CE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E67684B4-638B-4837-B094-574F126B4AFC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4152ECB9-1B68-4561-BF84-63DC9B29E632</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7FF11760-31F0-4F56-88C3-1CC19442B388</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8AFE5CFA-DB72-4DE9-B76D-3E74F745F3CE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F24D1D5-E117-4F98-B8E3-FB144DE0DC80</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F24D1D5-E117-4F98-B8E3-FB144DE0DC80</string>
					<string>19DAE3D6-A3AB-46DC-8609-4946887A79E4</string>
					<string>7FF11760-31F0-4F56-88C3-1CC19442B388</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F24D1D5-E117-4F98-B8E3-FB144DE0DC80</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F24D1D5-E117-4F98-B8E3-FB144DE0DC80</string>
					<string>19DAE3D6-A3AB-46DC-8609-4946887A79E4</string>
					<string>7FF11760-31F0-4F56-88C3-1CC19442B388</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>subtitle</string>
			<string>allKeywords</string>
			<string>tooltip</string>
			<string>infopane</string>
			<string>symbol</string>
			<string>unoto</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
			<string>unofrom</string>
			<string>url</string>
			<string>urltext</string>
			<string>onfunction</string>
			<string>offfunction</string>
			<string>openfunction</string>
			<string>closefunction</string>
			<string>onurl</string>
			<string>offurl</string>
			<string>openurl</string>
			<string>closeurl</string>
			<string>id</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>107</real>
			<key>characters</key>
			<real>46</real>
			<key>closefunction</key>
			<real>75</real>
			<key>closeurl</key>
			<real>75</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>id</key>
			<real>75</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>infopane</key>
			<real>50</real>
			<key>label</key>
			<real>56</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>offfunction</key>
			<real>75</real>
			<key>offurl</key>
			<real>75</real>
			<key>onfunction</key>
			<real>75</real>
			<key>onurl</key>
			<real>75</real>
			<key>openfunction</key>
			<real>75</real>
			<key>openurl</key>
			<real>75</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>49</real>
			<key>subtitle</key>
			<real>196</real>
			<key>symbol</key>
			<real>114</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>302</real>
			<key>tooltip</key>
			<real>50</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>unofrom</key>
			<real>75</real>
			<key>unoto</key>
			<real>286</real>
			<key>url</key>
			<real>75</real>
			<key>urltext</key>
			<real>75</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerHidesIcons</key>
	<true/>
	<key>supportingDocumentEditor.outlinerShowsTitlesOnly</key>
	<false/>
	<key>supportingDocumentEditor.outlinerState</key>
	<array/>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 712}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
